table {
  width: 100vw;
}

td {
  line-height: 40px;
  width: 100px;
}

body {
  background-color: black;
  color: white;
  overflow: hidden;
}

.lh40 {
  line-height: 40px;
}

.center {
  text-align: center;
}

.milestonecomplete {
	text-align: center;
	background-color: #127A20;
	width: 25vw;
	height: 150px;
	border: 3px solid #2828BF;
	border-radius: 8px;
}
.milestonelocked {
	text-align: center;
	background-color: #455A64;
	width: 25vw;
	height: 150px;
	border: 3px solid #2828BF;
	border-radius: 8px;
}

.autodiv {
	text-align: center;
	background-color: #44BBBB;
	width: 25vw;
	height: 150px;
	border: 4px solid green;
	border-radius: 8px;
}

.meltdownbtn {
	width: 210px;
	height: 70px;
	font-size: 10px;
	border: 2px solid green;
	border-radius: 6px;
	color: #d0d0d0;
	background: #202020;
}

/* Reinhardt's magic button styles */

.sbb {
	width: 98%;
	height: 40px;
	border-width: 5px;
	border-style: solid;
	border-radius: 5px;
	display: inline-block;
	transition: width 0.2s;
	transition: height 0.2s;
}

.sbb:focus {
	outline: none;
}

.sbb.half {
	width: 50%;
	height: 30px;
}

.sbb.half.x2 {
	height: 60px;
}

.sbb.smol {
  width: 200px !important;
  height: 30px;
}

.sbb.smol:hover {
  width: 200px;
  height: 29px;
}

.sbb.smol:active {
  width: 200px;
  height: 27px;
}

.sbb.height:hover:not(x2) {
	height: 38px;
}

.sbb.height:active:not(x2) {
	height: 35px;
}

.sbb.height.x2:hover {
	height: 56px;
}

.sbb.height.x2:active {
	height: 50px;
}

.sbb:hover:not(.height):not(.half) {
	width: 98%;
}

.sbb:active:not(.height):not(.half) {
	width: 95%;
}

.sbb.half:hover:not(.height) {
	width: 49%;
}

.sbb.half:active:not(.height) {
	width: 42.5%;
}

.grey {
	background-color: darkgrey;
	border-color: grey;
}

.lightgrey {
	background-color: darkgrey;
	border-color: grey;
}

.blue {
	background-color: mediumslateblue;
	border-color: #392759;
}

.green {
	background-color: #3E885B;
	border-color: #034C3C;
}

.red {
	background-color: #B23A48;
	border-color: #66101F;
}

.brown {
	background-color: #513C2C;
	border-color: #28190E;
}

.aqua {
	background-color: #7B5E7B;
	border-color: #1C0221;
}

.yellow {
	background-color: #C36F09;
	border-color: #A63C06;
}