table {
  width: 100vw;
}

td {
  line-height: 40px;
  width: 100px;
}

body {
  background-color: black;
  color: white;
}

.lh40 {
  line-height: 40px;
}

.center {
  text-align: center;
}

.popup {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: #202020;
    background: #ffffff;
    border: 3px solid black;
    border-radius: 6px;
    text-align:center;
    z-index: 2;
    padding: 10px;
    padding-bottom: 15px;
}

.milestonecomplete {
	text-align: center;
	background-color: #127A20;
	width: 25vw;
	height: 150px;
	border: 3px solid #2828BF;
	border-radius: 8px;
}
.milestonelocked {
	text-align: center;
	background-color: #455A64;
	width: 25vw;
	height: 150px;
	border: 3px solid #2828BF;
	border-radius: 8px;
}

.autodiv {
	text-align: center;
	background-color: #44BBBB;
	width: 25vw;
	height: 200px;
	border: 4px solid green;
	border-radius: 8px;
}

.meltdownbtn {
	width: 210px;
	height: 70px;
	font-size: 10px;
	border: 2px solid green;
	border-radius: 6px;
	color: #d0d0d0;
	background: #202020;
}

.meltdownupbought {
  background-color: gray;
  color: white;
  width: 25vw;
  height: 150px;
  border: 4px solid #daa520;
}
.meltdownupbuy {
  background-color: dimgrey;
  color: white;
  width: 25vw;
  height: 150px;
  border: 4px solid white;
}
.meltdownuplocked {
  background-color: grey;
  color: white;
  width: 25vw;
  height: 150px;
  border: 4px solid white;
}

.coolantbtn {
    border: 5px solid #11FFBB;
    border-radius: 5px;
    background-color: #00FFFF;
    color: #118833;
    float: left;
    height: 40px;
    width: 100%;
    text-align: center;
}
.coolanton {
	width: 98%;
	height: 40px;
	color: #AAAAFF;
	background-color: #3333FF;
    border: 2px solid #0088FF;
}
.coolantoff {
	width: 98%;
	height: 40px;
	color: #000000;
	background-color: #888888;
    border: 2px solid #333333;
}


/* Dystopia the incomptent Co-dev's really freaking disgusting button styles */
.navibtn {
	border: 3px solid blue;
	border-radius: 3px;
	background-color: #8888FF;
	height: 30px;
 	width: 100px;
}
.navibtn:hover {
	background-color: #AAAAFF;
}

.buyproductionbtn {
	border: 3px solid #888888;
	border-radius: 3px;
	background-color: #AAAAAA;
	height: 40px;
	width: 250px;
}
.buyProductionbtn:hover {
	background-color: #CCCCCC;
}

.minebtn {
	border: 3px solid #DB8C41;
	border-radius: 3px;
	background-color: #666666;
	height: 40px;
	width: 150px;
}
.minebtn:hover {
	background-color: #888888;
}

.drainbtn {
	border: 3px solid #0000FF;
	border-radius: 3px;
	background-color: #006994;
	height: 40px;
	width: 350px;
}
.drainbtn:hover {
	background-color: #0079AA;
}

.autobtn {
	border: 3px solid #B5A642;
	border-radius: 3px;
	background-color: #B0B0B0;
	clear: both;
	height: 30px;
	width: 200px;
}
.autobtn:hover {
	background-color: #D0D0D0;
}

.optionsbtn {
	border: 3px solid #424954;
	border-radius: 3px;
	background-color: #028F1E;
	height: 60px;
	width: 300px;
}
.optionsbtn:hover {
	background-color: #33DD33;
}
